<body>
  {% extends "base.html" %} 
  {% block title %} 
  Add Movies 
  {% endblock %}
  {% block content %}





  <h3 style="color: white;display:flex; justify-content:center; align-items:center; padding-top:5%; font-weight:700">Add Movie</h3>
  <div class="form" style="display: flex; justify-content: center;align-items: center;padding-top:10px">
  <form method = "POST" enctype="multipart/form-data">

      <div class="mb-3">
        <label for="title" class="form-label" style="color: white;">Title</label>
        <input type="Text" class="form-control" placeholder="Title of the movie" name="title">
      </div>

      <div class="mb-3">
        <label for="starring" class="form-label" style="color: white;">Starring</label>
        <input type="Text" class="form-control" placeholder="Lead cast" name="starring">
      </div>

      <div class="mb-3">
          <label for="production_house" class="form-label" style="color: white;">Production</label>
          <input type="Text" class="form-control" placeholder="Production_house" name="production_house">
      </div>

      <div class="mb-3">
        <label for="tags" class="form-label" style="color: white;">Tags</label>
        <input type="Text" class="form-control" placeholder="tags" name="tags">
      </div>

      <div class="mb-3">
          <label for="poster" class="form-label" style="color: white;">Poster</label>
          <input type="file" class="form-control" accept="image/*" placeholder="Upload Image" name="poster">
      </div>

      <button type="submit" class="btn btn-primary " >Add</button>

  </form>
  </div>
  {% endblock %}
</body>




