<body>
    {% extends "base.html" %}
    {% block title %}
    Search
    {% endblock %}
    {% block content %}

    <div class="container pt-4 pb-4">
        <form method="get" action="/search" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for movies based on title/tags/rating" aria-label="Search" name="query" value="{{ query }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        {% if movies %}
            <h5 style="color: white;">Search results for "{{ query }}"</h5>
            <div class="row row-cols-auto">
                {% for movie in movies %}
                    <div class="col" style="padding-top: 25px;">
                        <div class="card" style="width: 15rem; vertical-align:middle;">
                            <div class="text-center">
                                <img src="/static/movie_posters/{{ movie.poster }}" class="card-img-top">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="/select_venues/{{ movie.id }}" class="link-dark">{{ movie.title }}</a></h5>
                                <p class="card-text">{{ movie.starring }}</p>
                                <p class="card-text"><strong>Tags</strong> - {{ movie.tags }}</p>
                                <p class="card-text"><strong>Rating</strong> - {{ movie.avg_rating}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p style="color: white;">No movies found for "{{ query }}"</p>
        {% endif %}

    </div>
    {% endblock %}
</body>



