<body>
  {% extends "base.html" %} 
  {% block title %} 
  Show Tickets
  {% endblock %}
  {% block content %}


  
  <div class="container-fluid align-self-center">
      <br/><p style="color: white;"><strong >Bookings for {{ show.movie }}</strong>, {{ show.venue }}</p>
      <p style="color: white;">Total Bookings: {{ no_of_tickets }}</p><hr/>
      <div class="container pt-4 pb-4">
          <div class="row row-cols-auto">
          {% for ticket in tickets %}
          <div class="card" style="margin-right:24px">
              <div class="card-body">
                <p class="card-text">Ticket ID <strong>{{ ticket.id }}</strong></p>
                <p class="card-text">{{ ticket.show_timing }}</p>
                <hr/>
                <p class="card-text">No. seats <strong>{{ ticket.no_of_seats }}</strong></p>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
  </div>
  {% endblock %}
</body>




  