<body>
  {% extends "base.html" %} 
  {% block title %} 
  Sign Up 
  {% endblock %}
  {% block content %}






  <h3 style="color: white;display:flex; justify-content:center; align-items:center; padding-top:5%; font-weight:700">Register</h3>
  <div class="form" style="display: flex; justify-content: center;align-items: center;padding-top:20px">
      <form method = "POST">

          <div class="mb-3">
              <label for="Name" class="form-label" style="color: white;">Name</label>
              <input type="name" class="form-control" id="email" name="name" minlength="3">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" style="color: white;">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="user_type" value="1" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="color: white;">
              Admin
            </label>
          </div>

          <div class="mb-3">
            <label for="password1" class="form-label" style="color: white;">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" minlength="6" placeholder="Minimum 6 Characters">
          </div>

          <div class="mb-3">
              <input type="password" class="form-control" id="password2",  name="password2" minlength="6" placeholder="Confirm password">
          </div>

          <p style="color: white;">Already registered? <a href="/login">Login</a> </p>

          <button type="submit" class="btn btn-primary">Register</button>

      </form>
  </div>
  {% endblock %}
</body>




