<body>
    {% extends "base.html" %} 
    {% block title %} 
    Update Venues 
    {% endblock %}
    {% block content %}

  
  
  
  
    <h3 style="color: white; display:flex; justify-content:center; align-items:center; padding-top:5%; font-weight:700">Update Venue</h3>
      <div class="form" style="display:flex; justify-content:center; align-items:center; padding-top:10px">
      <form method = "POST" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="name" class="form-label" style="color: white;">Name</label>
            <input type="Text" class="form-control" placeholder="{{ venue.name }}" name="name">
          </div>

          <div class="mb-3">
            <label for="address" class="form-label" style="color: white;">Address</label>
            <input type="Text" class="form-control" placeholder="{{ venue.address }}" name="address" disabled>
          </div>

          <div class="mb-3">
              <label for="location" class="form-label" style="color: white;">Location</label>
              <input type="Text" class="form-control" placeholder="{{ venue.location }}" name="location" disabled>
          </div>

          <div class="mb-3">
              <label for="city" class="form-label" style="color: white;">City</label>
              <input type="Text" class="form-control" placeholder="{{ venue.city}}" name="city" disabled>
          </div>

          <div class="mb-3">
              <label for="contact_no" class="form-label" style="color: white;">Contact Number</label>
              <input type="number" class="form-control" placeholder="{{ venue.contact_no }}" name="contact_no" minlength="10" maxlength="10" disabled>
          </div>

          <div class="mb-3">
            <label for="poster" class="form-label" style="color: white;">Photo</label>
            <input type="file" class="form-control" accept="image/*" placeholder="Upload Image" name="photo">
          </div>

          <button type="submit" class="btn btn-primary ">Update</button>
      </form>
      </div>
  {% endblock %}
</body>




